<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<body>
    <div class="main-content">
         {{>header}}
    <img src="/img/me.jpg" alt="Image of ankit" class="portrait">
    <p>Hello <br> I am ankit sharma creator of this site.<br>I created this site using node and hbs.</p>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
    <script src="/js/app-4.js"></script>
</body>
</html>