<header>
    <nav>
        <div class="logo">
            <img src="/img/logo teespring 1.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<h1 class="title">{{title}}</h1>